<div class="row landingPage">
    <div class="col-lg-12 m-t-2 text-lg-center text-primary">

        <h1>
            Welcome to Learn Security!
        </h1>

    </div>
    <div class="col-lg-12">
        <p class="text-primary infoText sketchText m-t-1 text-justify">
            Purpose of this website is to teach you some computer science.
            Topics regard linux and range of security issues in a fun maze like tutorials.
            Each level has some short introduction to the topic, and few tasks to complete.
            Website is designed so you can learn without registration, help or password peek is for
            registered users though.
        </p>

        <button class="btn btn-lg btn-secondary w-100 m-t-1" id="initGuide">Guide Me!</button>
    </div>
</div>