<li id="loginComponent" class="panel list-group-item mazeItem" data-toggle="collapse"
    data-parent="#accordion"
    href="#collapseOne"
    aria-expanded="true"
    aria-controls="collapseOne">
    <h6>
        Login
    </h6>
    <div id="collapseOne" class="collapse in" role="tabpanel"
         aria-labelledby="headingOne">

        <form method="POST" action="/login/" id="loginForm" class="m-r-1">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.remember }} <span> Remember me! </span>
                </label>
            </div>
            <button id="loginButton" class="btn btn-primary w-100" data-type="submit">Submit</button>
        </form>
        <div class="m-r-1 p-t-1">
            <button id="registerTrigger" class="btn btn-secondary btn-sm w-100">
                Register
            </button>
        </div>
    </div>
</li>

