<li class="panel list-group-item mazeItem" data-toggle="collapse"
    data-parent="#accordion"
    href="#collapseOne"
    aria-expanded="true"
    aria-controls="collapseOne">
    <h6>
        Login
    </h6>
    <div id="collapseOne" class="collapse in" role="tabpanel"
         aria-labelledby="headingOne">

        <form method="POST" action="/login/" id="loginForm" class="m-r-1">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.remember }} Remember me!
                </label>
            </div>
            <button id="loginButton" class="btn btn-primary" data-type="submit">Submit</button>
        </form>
        <button id="registerTrigger" class="btn btn-secondary btn-sm">
            Register
        </button>
    </div>
</li>

