<li id="logoutComponent" class="panel list-group-item mazeItem" data-toggle="collapse"
    data-parent="#accordion"
    href="#collapseOne"
    aria-expanded="true"
    aria-controls="collapseOne">
    <div class="row m-r-1">
        <h6 class="col-xs-8">
            My Account
        </h6>
        <button class="col-xs-4 btn btn-danger btn-sm" id="logoutButton">Logout</button>
    </div>

    <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-group">
            <li class="list-group-item mazeItem" id="editUserTrigger">
                Edit User Credentials
            </li>
            <li class="list-group-item mazeItem" id="changePasswordTrigger">
                Change Password
            </li>
        </ul>
    </div>
</li>

