{% load static %}
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-7 m-t-1">
                <h1>
                    {{ maze.name }}
                </h1>
                <h4 class="text-muted">
                    Level {{ level.level }} - {{ level.short_description }}
                </h4>
            </div>
            <div class="col-lg-5 m-t-1">
                {{ maze.how_to }}
            </div>
        </div>
        {% if level.program_description.Program.main %}
            {% if level.program_description.Program.header %}
                <h3>
                    {{ level.program_description.Program.header }}
                </h3>
            {% endif %}
            <div class="infoSection">
                <p class="infoText"> {{ level.program_description.Program.main }}</p>
            </div>
        {% endif %}

        {% if level.program_description.Program.sections %}
            {% for key, item in level.program_description.Program.sections.items %}
                <div class="infoSection">
                    {% if item.header %}
                        <h5>
                            {{ item.header }}
                        </h5>
                    {% endif %}
                    {% if item.text %}
                        <p class="infoText">
                            {% for textItem in item.text %}
                                {{ textItem | safe }} <br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if item.list %}
                        <ul>
                            {% for li in item.list %}
                                <li>{{ li | safe }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if item.svg %}
                        <div>
                            {{ item.svg | safe }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        {% if level.program_description.Usage %}
            <h3> Usage </h3>
            <div class="infoSection">
                {% for key, element in level.program_description.Usage.items %}
                    <div class="row commandExColumn">
                        <div class="col-lg-5 commandExample">
                            {{ key }}
                        </div>
                        <div class="col-lg-7 commandExample">
                            - {{ element }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if level.program_description.Terminal %}
            <h3> Example </h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="terminalWrapper" id="terminal"
                         data-prompt-begin="{{ level.program_description.Terminal.prompt_begin }}"
                         data-command="{{ level.program_description.Terminal.command }}"
                         data-result="{{ level.program_description.Terminal.result }}"
                         data-prompt-end="{{ level.program_description.Terminal.prompt_end }}">
                        <div class="terminalBar">
                            User: bash - Konsole
                        <span id="restartTerminal" class="pull-right" title="repeat"><i
                                class="fa fa-repeat" aria-hidden="true"></i></span>
                        </div>
                        <div class="terminalBody">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-lg-3 m-t-1">
        <h1>
            Steps
        </h1>
        <div id="mazeAccordion" role="tablist" class="itemList m-t-3" aria-multiselectable="true">
            <ul class="list-group list-group-flush">
                {% for item in steps %}
                    <li class="panel list-group-item mazeItem" data-toggle="collapse"
                        data-parent="#mazeAccordion"
                        href="#step{{ item.level_step }}"
                        aria-expanded="false"
                        aria-controls="step{{ item.level_step }}">
                        <h6>
                            <div class="row">
                                <span class="col-xs-1 passedTick">
                                    {% if item.level_step in passed_steps %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </span>
                                <span class="col-xs-6">
                                    Step {{ item.level_step }}
                                </span>
                            </div>
                        </h6>
                        <div id="step{{ item.level_step }}" class="collapse" role="tabpanel"
                             aria-labelledby="heading{{ item.level_step }}">

                            <p>{{ item.description.text }}</p>
                            {% if item.description.svg %}
                                {{ item.description.svg | safe }}
                            {% endif %}

                            <div class='input-group m-b-1'>
                                <span class='input-group-addon'><i class='fa fa-arrow-right text-primary'
                                                                   aria-hidden='true'></i></span>
                                <input class='form-control passwordInput' type='text' placeholder='Enter password'
                                       data-maze="{{ maze.name }}" data-maze-level="{{ level.level }}"
                                       data-maze-step="{{ item.level_step }}" data-type="check">
                            </div>

                            <button data-maze="{{ maze.name }}" data-maze-level="{{ level.level }}"
                                    data-maze-step="{{ item.level_step }}" data-type="help" class="button btn btn-info"
                                    {% if not user.is_authenticated %} disabled {% endif %}>
                                Help!
                            </button>
                            <button data-maze="{{ maze.name }}" data-maze-level="{{ level.level }}"
                                    data-maze-step="{{ item.level_step }}" data-type="peek"
                                    class="button btn btn-danger" {% if not user.is_authenticated %}
                                    disabled {% endif %}>Peek answer
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
