@media (max-width: 991px) {
    .mazeLevels {
        border-radius: 0;
    }
}

@media (min-width: 992px) {

    html, body, .fullScreen {
        height: 100%;
    }

    .mazeLevels {
        border-radius: 0 10px 10px 0;;
    }

}

body {
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(227, 227, 227, 1) 100%);
}

.list-group-flush .list-group-item {
    padding-left: 10px;
    padding-right: 0;
}

a:hover {
    text-decoration: none;
}

.icon_anchor {
    color: black;
}

#closeMazeCard {
    float: right;
}

.icon_anchor:hover {
    color: grey;
}

.sidePanel, .mazeLevels {
    min-height: 100%;
    margin-bottom: 0;
}

.sidePanel {
    border-radius: 0;
    z-index: 1;
}

.mazeLevels {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    z-index: 0;
}

#sandBox {
    overflow-y: auto;
}

#sandBox, #navigationBar, #mainNavigationBar, #mazeDesc {
    transition: all 0.4s ease;
}

.col-0 {
    width: 0;
}

.mazeItem {
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    background: transparent;
}

.mazeItem ul li:last-child {
    border-bottom: 0;
}

.terminalWrapper {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 20px 70px;
}

.terminalBar {
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 3px 0;
    background-color: #475057;
    color: rgb(230, 234, 233);
    font-family: 'Oxygen', sans-serif;
}

.terminalBody {
    padding: 5px;
    border-radius: 0 0 5px 5px;
    font-family: 'Oxygen Mono', monospace;
    font-size: 12px;
    background-color: #000;
    color: #9A9A9A;
    height: 350px;
    margin-bottom: 20px;
}

.terminalPre {
    white-space: pre-wrap;
    overflow-y: auto;
    color: #9A9A9A;
    font-family: 'Oxygen Mono', monospace;
    margin: 0;
}

.typed-cursor {
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.button {
    display: block;
    width: 100%;
    border-radius: 0;
}

#logoutButton {
    margin-top: -4px;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.image-preview-input-title {
    margin-left: 2px;
}

.landingPage h1 {
    font-size: 60px;
}

.infoText {
    margin-bottom: 0;
    padding-bottom: 0.2em;
}

.sketchText {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
}

.bubbleText {
    z-index: 999;
}

.opaque02 {
    opacity: 0.2;
}

.markOutline {
    border: #0275d8 2px solid;
    margin: 0;
}

.presentationTether {
    transition: all 0.2s ease;
}

.commandExColumn:hover {
    background-color: rgba(2, 117, 216, 0.05);
}

.commandExColumn:hover > .commandExample {
    overflow: visible;
    white-space: normal;
    z-index: 10;
}

.commandExample {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#restartTerminal {
    margin-right: 10px;
}

#restartTerminal:hover {
    cursor: pointer;
    color: grey;
}

.infoSection {
    padding: 0.5em;
}

svg {
    display: block;
    margin: auto;
}

p {
    word-wrap: break-word;
}

table.sbox th, table.sbox td {
    padding: 0.2rem;
    font-size: x-small
}

table.sbox caption {
    padding-top: 0;
    caption-side: top;
    text-align: center;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
}